	
body {
	background-color: rgb(0,78,78);
	padding: 1em 2em;
	color: rgb(255,255,255);
}
	
a {
	color: rgb(255,199,8);
}

a:hover {
	color: rgb(255,199,8);
	text-decoration: underline;
}

h1 {
	color: rgb(255,199,8);
}

header {
	color: rgb(255,199,8);
}

header img{
	height: 256px;
	width: 256px;
}

	
	header nav        { border-top: 1px solid rgb(255,199,8);
				        border-bottom: 1px solid rgb(255,199,8);}			 
	
	header nav ul    { list-style: none;
		   			   padding: 1em 0;
					   margin: 0;
					   text-align: center;}

	header nav ul li { display: inline-block;
			           padding: 0 2em; 
			           color: rgb(255,199,8);}
	
	body p 			 { color: rgb(255,255,255);}

	
	body ul    { list-style: none;
		   			   padding: 1em 0;
					   margin: 0;
					   text-align: center;}

	body ul li { display: block;
			           padding: 0 1em; 
			           padding-bottom: 1em;
			           color: rgb(255,199,8);}

	footer       	 { color: rgb(255,199,8);				
					   border-top: 1px solid rgb(255,199,8);	
					   padding: 1em 0;}

	footer p     	 { text-align: center;
			           color: rgb(255,199,8);}


/*Julia*/
.center {
	text-align: center;
}

.current {
	text-decoration: underline;
}
