<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<title>xHain hack+makespace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">			 
    	<link rel="stylesheet" 
    			href="/css/bootstrap.min.css" >
		<link rel="stylesheet" 
			  href="/css/style.css">	
	</head>
    
	<body>
		<header>
			<p>
				<a href="index.html">
					<img src="xHain_logo.png" alt="xHain hack+makespace">
				</a>
			</p>
			<nav>
				<ul>
	             	<li>
	            		<a href="calender.html" class="{% if page.url == '/calender.html' %}current{% endif %}">anstehendes</a>
	             	</li>
	             	<li>
	             		<a href="support.html" class="{% if page.url == '/support.html' %}current{% endif %}">unterstützendes</a>
	             	</li>
	           		<li>
	             		<a href="about.html" class="{% if page.url == 'about.html' %}current{% endif %}">informierendes</a>
	           		</li>
	    		</ul>
	    	</nav>		
		</header>

			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
		 	<h3>Die Idee</h3>
		 	<p>
			Ein Ort im Kiez, der sich für Austausch, gegenseitige Schulung und gute Laune eignet: So soll der xHain werden. 
			Tagsüber: Ein Lernort für Projekt- und Schülergruppen. Abends: Ein Treffpunkt für Hackerinnen und Bastler. Zwischendurch: Ein Tagungsraum oder temporärer Schreibtisch für bürolose Friedrichshainer/innen. So oder ähnlich könnte sich der xHain, wenn es nach Gründer Felix geht, entwickeln.
			</p>
			<h3>Die Nutzer/innen</h3>
			<p>Wir möchten mit dem xHain einen Ort schaffen, an dem sich Bastlerinnen, Technikinteressierte und (Gesellschafts-)hacker wohl fühlen. Damit sind nicht nur Berufstätige, sondern auch Azubis, Erwerbslose, Schülerinnen und gern auch Senioren gemeint. <br>
			Der xHain ist ein rauchfreier Ort. Wer rauchen will, kann das draußen tun.
			Wer sexistisch, rassistisch oder homophob ist, braucht nicht zu kommen.
			</p>
<h3>Kontakt</h3>
		 	<p>
		 	xHain hack+makespace <br>
		 		Felix J. Just         <br>
		 		Grünberger Straße 14  <br>
		 		10243 Berlin		  <br><br>	 		
				<a href="https://twitter.com/xHain_hackspace" >
		 			<img src="Twitter_logo.jpg" alt="xHain hack+makespace" height="16" width="16" title="Twitter">
				</a>
				<a href="mailto:x-hain@posteo.de?subject=Newsletter%20abonnieren">
		 			<img src="Mail_Icon.png" alt="xHain hack+makespace" height="24" width="24" title="Newsletter">
				</a>
	 		</p>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>  		
	</body>
</html>