---
lang: en
permalink: /en/about.html
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>xHain hack+makespace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">			 
    	<link rel="stylesheet" 
    			href="/css/bootstrap.min.css" >
		<link rel="stylesheet" 
			  href="/css/style.css">	
	</head>
    
	<body>
		<header>
			<p>
				<a href="index.html">
					<img src="/xHain_logo.png" alt="xHain hack+makespace">
				</a>
			</p>
			<nav>
				<ul>
					<li>
						<a href="/en/calendar.html" class="{% if page.url == '/en/calender.html' %}current{% endif %}">happening</a>
					</li>
					<li>
						<a href="/en/support.html" class="{% if page.url == '/en/support.html' %}current{% endif %}">supporting</a>
					</li>
					<li>
						<a href="/en/about.html" class="{% if page.url == '/en/about.html' %}current{% endif %}">informing</a>
					</li>
				</ul>
			</nav>
		</header>

			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
		 	<h3>The Idea</h3>
		 	<p>
			To have a local place for exchanges, mutual learning and fun: that’s the vision for xHain.
			During the day: a place where projects and school groups can learn.
			At night: a place where hackers and makers can meet.
			At other times: a conference room or a temporary desk for Friedrichshainers with no office to go to.
			This – or something similar – is what founder Felix hopes xHain turns out to be.
			</p>
			<h3>Who It’s For</h3>
			<p>
			We want to create a place where makers, people who are interested in tech, and (society) hackers feel comfortable.
			You’re welcome no matter who you are or what you do – whether you have a job or not, whether you’re a trainee or a student, a single parent or a senior citizen.
			</p>
			<p>
			xHain is a non-smoking place. People who want to smoke can do so outside.
			If you’re sexist, racist or homophobic, please don’t bother coming.
			</p>
<h3>Contact</h3>
		 	<p>
		 	xHain hack+makespace <br>
		 		Felix J. Just         <br>
		 		Grünberger Straße 14  <br>
		 		10243 Berlin		  <br><br>	 		
				<a href="https://twitter.com/xHain_hackspace" >
		 			<img src="Twitter_logo.jpg" alt="xHain hack+makespace" height="16" width="16" title="Twitter">
				</a>
				<a href="mailto:x-hain@posteo.de?subject=Newsletter%20abonnieren">
		 			<img src="Mail_Icon.png" alt="xHain hack+makespace" height="24" width="24" title="Newsletter">
				</a>
	 		</p>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>  		
	</body>
</html>