<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<title>xHain hack+makerspace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">			 
    	<link rel="stylesheet" 
    			href="css/bootstrap.min.css" >
		<link rel="stylesheet" 
			  href="css/style.css">	
	</head>
	<body>
		<header>
			<p>
				<a href="index.html">
					<img src="xHain_logo.png" alt="xHain hack+makerspace">
				</a>
			</p>
			<nav>
				<ul>
	             	<li>
	            		<a href="calender.html" class="{% if page.url == '/calender.html' %}current{% endif %}">anstehendes</a>
	             	</li>
	             	<li>
	             		<a href="support.html" class="{% if page.url == '/support.html' %}current{% endif %}">unterstützendes</a>
	             	</li>
	           		<li>
	             		<a href="about.html" class="{% if page.url == 'about.html' %}current{% endif %}">informierendes</a>
	           		</li>
	    		</ul>
	    	</nav>		
		</header>
			<div class="container">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6 center">
						<section>
							<article>
								<br>
								<p>
								Es gibt verschiedene Möglichkeiten, den xHain Hackspace zu unterstützen. Da wir gerade erst in der Anfangs- und Aufbauphase sind, könnt ihr vor allem mit zwei Dingen helfen: Zeit und Geld.
								</p> 
								<h3>Vorbeikommen</h3>
								<p>Komm’ vorbei und hilf mit! Es gibt immer noch Regale und Tische zu bauen, ein Bad zu tapezieren, Sitzgelegenheiten zu lackieren, ein Kabelbaum zu bauen, Jalousien anzubringen, und so weiter. Jede helfende Hand ist herzlich willkommen! Schreib bei Interesse eine kurze Mail an Felix (x-hain@posteo.de) oder ping uns auf Twitter an (@xhain_hackspace). 
								</p>	
								<h3>Support-FlatRate</h3>
								<p>Wenn du es für richtig und wichtig hältst, dass es in Friedrichshain einen Hackspace gibt, dann unterstütze uns!
								Die Support-Flatrate kostet 13.37 Euro im Monat.
								Dafür gibt es Rabatte und Vergünstigungen bei allem, was wir in Zukunft an (Gegen-)Wert schaffen. In Planung sind T-Shirts, Workshops, Weiterbildungen, 3D-Drucksachen und vieles mehr. Für die Unterstützenden ist darüber hinaus die Nutzung der vorhandenen Werkzeuge und Geräte (3D-Drucker u.ä.) umsonst. 
								Sollte dir der Betrag finanziell nicht möglich sein, sprich uns bitte an, wir finden schon eine Lösung. 
								Natürlich ist es auch möglich, uns mit mehr als 13,37 Euro im Monat zu unterstützen. Ein solcher Soli würde dann denjenigen zugute kommen, die sich die Support-Flatrate nicht leisten können.
								Der Betrieb eines Hackspaces kostet Geld: Miete, Strom, Internet und so weiter. Alle Einnahmen aus der Support-Flatrate werden zur Zahlung der laufenden Kosten genutzt. Sollten diese Einnahmen die laufenden Kosten überschreiten, werden von den Überschüssen weitere Geräte und Werkzeuge angeschafft, die den Hackspace nach und nach in eine 1a Anlaufstelle für alle Technikinteressierten in Friedrichshain verwandeln.
								</p>
								<h3>Raum mieten</h3>
								<p>Du kannst den xHain außerdem als Tagungsort oder Raum für Veranstaltungen mieten. Fette Geburtstagsparties gehen leider nicht, aber wenn du einen Workshop planst, einen unkonventionelleren Sitzungsort suchst, deinen Film vorführen willst oder in kreativer Umgebung deine Fan Fiction voran bringen willst, dann kontaktiere uns, und wir klären die Details. 
									</p>
								<h3>Sachspenden</h3>
								<p>Wenn eure Laserfräsen, Lötstationen, 3D-Drucker, Schraubenzieher, Arduinos, Raspberry Pis, rad1o badges oder Webcams im Keller verstauben: Her damit! Wir bieten deinen alten, aber funktionstüchtigen Gerätschaften und Spielzeugen gern ein neues Zuhause. 
								</p>
							</article>		
						</section> 
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>  
		 <footer>
		 	<p>
		 		xHain hack+makerspace <br>
		 		Grünberger Straße 14  <br>
		 		10243 Berlin		  <br><br>	 		
				<a href="https://twitter.com/xHain_hackspace" >
		 			<img src="Twitter_logo.jpg" alt="xHain hack+makerspace" height="16" width="16" title="Twitter">
				</a>
				<a href="mailto:x-hain@posteo.de?subject=Newsletter%20abonnieren">
		 			<img src="Mail_Icon.png" alt="xHain hack+makerspace" height="24" width="24" title="Newsletter">
				</a>
	 		</p>
	 	</footer>
	</body>
</html>