<p>
	<a href="/{% if page.lang != 'de' %}{{ page.lang }}{% endif %}"><img src="/xHain_logo_small.png" alt="xHain hack+makespace"></a>
</p>
{% if page.lang == 'en' %}
<nav>
	<p class="languages">
		{% if page.translations.de != false %}
		{% assign url = page.translations.de %}
		<a href="{% if url %}{{ url }}{% else %}{{ page.url | replace_first: '/en/', '/' }}{% endif %}" lang="de">Deutsch</a>
		{% endif %}
	</p>
	<ul>
		<li>
			<a href="{{site.url}}/en/calendar.html" class="{% if page.url == '/en/calendar.html' %}current{% endif %}">happening</a>
		</li>
		<li>
			<a href="{{site.url}}/en/support.html" class="{% if page.url == '/en/support.html' %}current{% endif %}">supporting</a>
		</li>
		<li>
			<a href="{{site.url}}/en/about.html" class="{% if page.url == '/en/about.html' %}current{% endif %}">informing</a>
		</li>
	</ul>
</nav>
{% else %}
<nav>
	<p class="languages">
		{% if page.translations.en != false %}
		{% assign url = page.translations.en %}
		<a href="{% if url %}{{ url }}{% else %}{{ page.url | replace_first: '/', '/en/' }}{% endif %}" lang="en">English</a>
		{% endif %}
	</p>
	<ul>
		<li>
			<a href="{{site.url}}/calendar.html" class="{% if page.url == '/calendar.html' %}current{% endif %}">anstehendes</a>
		</li>
		<li>
			<a href="{{site.url}}/support.html" class="{% if page.url == '/support.html' %}current{% endif %}">unterstützendes</a>
		</li>
		<li>
			<a href="{{site.url}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">informierendes</a>
		</li>
	</ul>
</nav>
{% endif %}