<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<title>xHain hack+makerspace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
  
	<body>
		<header>

			<img src="xHain-hackspace.github.io/xHain_logo3_rev1.png" 
			alt="xHain hack+makerspace" height="512" width="512">
		</header>
		<section>

			<article>
				{{ page.content }}
			</article>

			<section>	
				{% for post in site.posts %}
					<h3><a href="{{ post.url }}"> {{ post.title }} </a></h3>
					{{ post.excerpt }}
					<a href="{{ post.url }}">[weiterlesen...]</a>
				{% endfor %}
			</section>

		</section>
	 </body>
</html>