		<style>

	.left    { text-align: left; }
	.right   { text-align: right; }
	.center  { text-align: center; }
	.justify { text-align: justify; }
	.start   { text-align: start; }
	.end     { text-align: end; }
	body     { background-color: rgb(0,78,78); 
				 color: rgb(255,199,8);
				 }
	.footer     {color: rgb(255,199,8)
				 }
		h3        { color: rgb(255,199,8)
				  }
		h1        { color: rgb(255,199,8)
				  }
		a         {color: rgb(255,199,8);
			text-decoration:none;
				 }
		hr		{color: rgb(255,199,8)
				 }	 
		nav { display: block;}
		/* -------------- navigavtion------------- */

		/* -------------- end of navigavtion------------- */
  
    </style>